<a href="http://localhost:3000/"> <li class="li1">Главная</li></a>
<a href="http://localhost:3000/users"> <li class="li1">Аккаунты</li></a>
<a href="http://localhost:3000/show"> <li class="li1">nill</li></a>